/* Sitemap HTML CSS */

.l-sitemap .c-headline {
	text-align: center;
	padding: 0.5rem 0;
}

.l-sitemap .c-breadcrumbs {
	margin-bottom: 13px;
	margin-top: 18px;
}

.l-sitemap .c-breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-block: 1rem;
	list-style-type: none;
}

.l-sitemap .c-breadcrumbs__list li {
	display: inline;
}

.l-sitemap .c-breadcrumbs__list li > span::before,
.l-sitemap .c-breadcrumbs__list li a::before {
	content: "\203A";
	font-weight: 400;
	padding-right: 0.4rem;
}

.l-sitemap .c-breadcrumbs__list li:first-child > span::before,
.l-sitemap .c-breadcrumbs__list li:first-child a::before {
	content: none;
}

.l-sitemap .c-breadcrumbs__list li:last-child {
	font-weight: 700;
}

.l-sitemap .c-breadcrumbs__item {
	display: flex;
	padding: 0 4px;
	font-size: 14px;
	line-height: 1.5;
	text-decoration: none;
	white-space: nowrap;
}

@media screen and ( min-width: 768px ) {
	.l-sitemap .c-breadcrumbs__item {
		font-size: 16px;
	}
}

.l-sitemap .c-sitemap__container {
	max-width: 600px;
	margin-inline: auto;
}

.l-sitemap .c-sitemap__list {
	margin: 0 0 40px;
}

.l-sitemap .c-sitemap__item--posts {
	margin: 0 0 40px;
}

.l-sitemap .c-sitemap__item-list {
	padding: 0;
	list-style-type: none;
	margin: 0 0 0.25rem;
	font-size: 1rem;
}

.l-sitemap .c-sitemap__item--index .c-sitemap__item-list-item {
  display: inline-block;
}

.l-sitemap .c-sitemap__item-list-item {
	display: block;
}

.l-sitemap .c-sitemap__item-list-item a {
	padding-inline: 0.25rem;
}

.l-sitemap .c-sitemap__item-list-item:first-child a {
	padding-inline-start: 0;
}

.l-sitemap .c-sitemap__item-list-item:last-child a {
	padding-inline-end: 0;
}

.l-sitemap .c-sitemap__item--posts .c-sitemap__item-list-item a {
	display: block;
	line-height: 1.3;
	padding: 0.3rem 0;
}

/* Inline pagination under breadcrumbs */
.l-sitemap .c-sitemap__pagination {
	margin-block: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.l-sitemap .c-sitemap__page {
	display: inline-block;
	padding-inline: 0.5rem;
}

.l-sitemap .c-sitemap__page.is-current {
	font-weight: 600;
	cursor: default;
	text-decoration: none;
}
